{{ define "title" }}{{ .index }}: n/a{{ end }}

{{ define "header" }}
<div id='autocomplete'>
  <autocomplete></autocomplete>
</div>
<script src='/static/autocomplete.js'></script>
<div class='home' onclick='window.location="/";'>
  <div class='icon'>
    <i class='material-icons'>home</i>
  </div>
  <a>Home</a>
</div>
<div id='realtime' data-index='{{ .index }}' data-code='{{ .code }}' data-refresh='{{ .refresh }}'>
  <realtime :stock='Stock'></realtime>
</div>
<script src='/static/realtime.js'></script>
{{ end }}

{{ define "content" }}
<div class='chart'>
  <canvas id='chart'></canvas>
</div>
<script src='/static/chart.js'></script>
{{ end }}
