{{ define "title" }}Log In{{ end }}

{{ define "header" }}
<h3 class='d-flex justify-content-center'>Log In</h3>
<hr>
{{ end }}

{{ define "content" }}
{{ if ne .error "" }}
<div class='alert alert-danger login'>{{ .error }}</div>
{{ end }}
<form class='login' method='POST'>
  <div class='form-group'>
    <label for='username'>Username</label>
    <input autofocus class='form-control' name='username' id='username' placeholder='Username' required>
  </div>
  <div class='form-group'>
    <label for='password'>Password</label>
    <input class='form-control' type='password' name='password' id='password' placeholder='Password' required>
  </div>
  <div class='form-group form-check'>
    <input type='checkbox' class='form-check-input' name='rememberme' id='rememberme'>
    <label class='form-check-label' for='rememberme'>Remember Me</label>
  </div>
  <hr>
  <input type='submit' id='login' value='Log In' class='btn btn-primary login'>
</form>
<script>
  username = localStorage.getItem('username');
  if (username != null) $('#username').val(username);
</script>
{{ end }}
