{{ define "title" }}{{ .index }}: n/a{{ end }}

{{ define "search" }}
<div class='search'>
  <div class='icon'>
    <i class='material-icons'>search</i>
  </div>
  <input placeholder='Search Stock' id='autocomplete'>
</div>
<script>$("#autocomplete").autocomplete(autocomplete)</script>
{{ end }}

{{ define "header" }}
<div class='home' onclick='window.location="/";'>
  <div class='icon'>
    <i class='material-icons'>home</i>
  </div>
  <a>Home</a>
</div>
<div id='realtime' data-index='{{ .index }}' data-code='{{ .code }}'>
  <realtime :stock='Stock'></realtime>
</div>
<script src='/static/realtime.js'></script>
{{ end }}

{{ define "content" }}
<div class='chart'>
  <canvas id='chart'></canvas>
</div>
<script src='/static/chart.js'></script>
{{ end }}
