{{ define "title" }}My Stocks{{ end }}

{{ define "search" }}
<div class='search'>
  <div class='icon'>
    <i class='material-icons'>search</i>
  </div>
  <input placeholder='Search Stock' id='autocomplete'>
</div>
<script>$("#autocomplete").autocomplete(autocomplete)</script>
{{ end }}

{{ define "header" }}{{ end }}

{{ define "content" }}
<div class='table-responsive' id='mystocks'>
  <mystocks :stocks='Stocks' :columns='Columns' :sortable='Sortable'></mystocks>
</div>
<script src='/static/stock.js'></script>
{{ end }}
